@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("backgroundnew.png");
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Acme', sans-serif;
}


.myComponent-bg {
    background-image: url(background\ image.jpg);
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 0 15px black;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.myborder {
    background-color: #060027;
    margin-top: 3rem;
    border-radius: 10px;
    border: 2px solid white;
}


.hover-effect img:hover {
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(243, 242, 242, 0.75);
}

.newback {
    background-color: black;
    border-radius: 8px;
    margin-top: 4rem;
}


footer {
    background-image: url(footerimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100vw;
    font-family: "open sans";
    padding-top: 200px;
    color: white;
    margin-top: 3.5rem;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 7rem;

}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}


.footer-bottom {
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: capitalize;
    opacity: .4;
    font-weight: 200;
}

.footerbuttons button {
    border-radius: 20px;
    background-color: grey;
}

.footerbuttons button:hover {
    background-color: rgb(81, 81, 81);
}


/* grid styling */

/* Design */


.main {
    max-width: 1200px;
    margin: 0 auto;
}

.main h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.main img {
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 0.3rem;
}


.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

@media (min-width: 300px) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 400px) {
    .cards_item {
        width: 33.3333%;
    }
}